table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  input, label {
    margin: 5px 5px;
  }
  
  .form-group {
    margin: 30px auto;
    width: 450px;
    height: 150px;
  }
  
  .form-control {
    float: left;
  }
  
  #inputStreet {
    width: 100%;
  }
  
  #inputCity {
    width: 50%;
  }
  
  #inputZip {
    width: 50%;
  }

  