@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #e6e6e6;
}
.heading{
  background-color: #262626;
  color: white;
  font-weight: bold;
  padding: 1em;
  margin:0;
}
.form-group{
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}
.form-control{
  margin: 1em auto;
  padding: 0.5em;
}
.start{
  text-align: center;
}
.end{
  text-align: center;
}
.selection
{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.calcBtn{
  text-align: center;
}

button {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
h4{
    margin: 0;
    padding: 0;
}
.infoTbl{
  background-color: #bfbfbf;
  padding-top: 1em;
  text-align: center;
}
.infowrapper{
  display: inline-flex;

}
table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  height: 450px;
  margin: 0 1em;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  .mapFrame
  {
   padding: 50;
  }
  #bikeList
  {
    padding: 5;
    margin: 10;
    margin-left: auto;
  }
  #rtnLbl
  {
    font-family: 'Montserrat', sans-serif;
    border: none;
  }