table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    float: left;
    height: 450px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  input, label {
    margin: 5px 5px;
    border: 1px solid #dddddd;

  }
  
  .form-group {
    margin: 30px auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  .form-control {
    float: left;
  }
  
  #inputStreet {
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #inputCity {
    width: 50%;
  }
  
  #inputZip {
    width: 50%;
  }
  button {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  .mapFrame
  {
    width: 650px;
   padding: 50;
  }
  #bikeList
  {
    padding: 5;
    margin: 10;
    margin-left: auto;
  }
  #rtnLbl
  {
    font-family: Arial, sans-serif;
    border: none;
  }