<html>

<head>
    <meta charset="UTF-8" />
    <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./user.css" />
</head>

<body onload="rowFiller()">
    <div class="heading">
        <header>
            <a href="#">User</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./login.html">Login</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="searchbar">
        <label>
            <span style="font-family: 'Montserrat', sans-serif;">Search:</span>
            <input placeholder="Enter search term" type="search" id="searchInput" onkeyup="search()">
        </label>
        <div class="btn-Wrapper">
            <button onclick="deleteRecord()">Delete</button>
        </div>
    </div>
    <div class="main_page">
        <div class="flex_child" id="routes-table"></div>
        <div class="flex_child" id="route-extended-data">
            <div class="flex_parent" >
                <div class="flex_child" id="route-data-info">
                    <ul class="bikeInfo" id="route-info">
                    </ul>
                </div>
                <div class="flex_child" id="route-data-map" ><iframe id="mapDisp" width="650px" height="450" frameborder="0" style="border: 0;" allowfullscreen></iframe></div>
            </div>
            

            </div>
        </div>
    </div>
    



</body>
<script src="user.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIf-vJKm6y4vhqsCFdMkuRYIOjb8Q8rxM&libraries=places&callback=initialize"
    async defer></script>

</html>