<html>

<head>
    <meta charset="UTF-8" />
    <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./user.css" />
</head>

<body onload="rowFiller()">
    <div class="heading">
        <header>
            <a href="#">User</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./login.html">Login</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="searchbar">
        <label>
            <span style="font-family: 'Montserrat', sans-serif;">Search:</span>
            <input placeholder="Enter search term" type="search" id="searchInput" onkeyup="search()">
        </label>
        <div class="btn-Wrapper">
            <button onclick="deleteRecord()">Delete</button>
        </div>
    </div>
    <div class="main_page">
        <div id="example-table"></div>
    </div>



</body>
<script src="user.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>

</html>