<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./user.css" />
</head>

<body>
    <div class="heading">
        <header>
            <a href="#">User</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./login.html">Login</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main_page">
        <div class="main-wrapper">
            <div class="column1">
                <div class="header">
                    <h2>Trip 1</h2>
                </div>
                <div id="info1" class="info">
                </div>
            </div>
            <div class="column2">
                <div class="header">
                    <h2>Trip 2</h2>
                </div>
                <div id="info2" class="info">
                </div>
            </div>
            <div class="column3">
                <div class="header">
                    <h2>Trip 3</h2>
                </div>
                <div id="info3" class="info">
                </div>
            </div>
        </div>
        <div class="btn">
            <button onclick="rowFiller()">Add</button>
        </div>
    </div>
</body>
<script src="user.js"></script>

</html>