<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./user.css" />
</head>

<body onload="rowFiller()">
    <div class="heading">
        <header>
            <a href="#">User</a>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./login.html">Login</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main_page">
        <div id="main-wrapper" class="table-wrapper">
            <table id="filterTable">
                <thead>
                    <tr>
                        <th data-type="text">Bike</th>
                        <th data-type="text">Start Address</th>
                        <th data-type="text">End Address</th>
                        <th data-type="text">Distance</th>
                        <th data-type="text">Time</th>
                        <th data-type="text">Fuel Amt</th>
                        <th data-type="text">Fuel Cost</th>
                        <th data-type="number">Stops</th>
                        <th data-type="text">Waypoint 1</th>
                        <th data-type="text">Waypoint 2</th>
                        <th data-type="text">Waypoint 3</th>
                    </tr>
                </thead>
                <tbody id="resultTbl">

                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="user.js"></script>

</html>